---
import "../styles/global.css";
import { Sidebar } from "./Sidebar";
import { TableOfContents } from "../components/TableOfContents";
import { Header } from "./Header";
const { headings, frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {
        !frontmatter?.title
          ? "Accessibility Guide"
          : `${frontmatter?.title} | Accessibility Guide`
      }
    </title>
  </head>
  <body class="h-screen overflow-hidden flex flex-col">
    <Header client:load />

    <div class="flex flex-1 min-h-0">
      <Sidebar pathname={Astro.url.pathname} client:load />

      <main
        id="main-content"
        class="flex-1 min-h-0 overflow-y-auto p-6 prose prose-slate max-w-none"
      >
        <slot />
      </main>

      <TableOfContents headings={headings} client:load />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>

<head>
  <script is:inline>
    const theme = localStorage.getItem("theme");

    if (theme === "dark") {
      document.documentElement.classList.add("dark");
    }
  </script>
</head>
